h3 {
    color: green;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
}

th,
td {
    background-color: pink;
}

.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}